{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Hacker Login Form</title>
  <link rel="stylesheet" href="{% static 'css/login.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<!doctype html>

<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>CodePen - Animated Login Form using Html &amp; CSS Only</title> 

  <link rel="stylesheet" href="{% static 'css/login.css'%}"> 

 </head> 

 <body> <!-- partial:index.partial.html --> 

  <section>
    <div class="signin">
      <div class="content">
        <img src="{% static 'images/mui_logo.png' %}" alt="MUI">
        <h2>MUI - Kota Batu</h2>
        <div class="form">
          <!-- Add id attribute to the form -->
          <form id="myForm">
            <div class="inputBox">
              <input type="text" name="username" required> <i>Username</i>
            </div>
            <div class="inputBox">
              <input type="password" name="password" required> <i>Password</i>
            </div>
            <div class="links">
              <a href="#">Forgot Password</a>
              <a href="#">Signup</a>
            </div>
            <div class="inputBox">
              <input type="submit" value="Login">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

 </body>

</html>
<!-- partial -->
  
</body>
</html>
